<div class="form-container"> 
  <%= form_tag url, id: "contact", method: form_method  do %>
    <h3><%= heading %></h3>
    <h4>For reliable perdictable expenses and income and for planning ahead</h4>
    <div>Description</div>
    <fieldset>
      <input type="text" tabindex="1" value="<%= @event.description %>" name="description" required autofocus>
    </fieldset>
    <div>Expense or Income</div>
    <fieldset>
      <select name="impact" id="impact" required>
        <option value="out">Expense</option>
        <option value="in">Income</option>
      </select>
    </fieldset>
    <fieldset>
      <div>Will this repeat?</div>
      <select name="repeat" id="repeat"  required>
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>
    </fieldset>
    <% unless edit %>
      <fieldset>
      <div>Monthly or weekly?</div>
      <select name="weekly" onchange="weeklyForm(this.value)" required>
        <option value="false">Monthly</option>
        <option value="true">Weekly</option>
      </select>
      <!-- if monthly -->
      <div id="monthly" >
        monthly <div> <input type="date" name="date1"><div class="btn btn-primary" onclick="addDateForm(this)">Add additional date</div> </div>
        <div class="hidden">
          <input type="date" name="date2" >
          <div class="btn btn-primary" onclick="addDateForm(this)">Add additional date</div>
        </div>
        <div class="hidden"> <input type="date" name="date3" ><div class="btn btn-primary" onclick="addDateForm(this)">Add additional date</div> </div>
        <div class="hidden"> <input type="date" name="date4" ><div class="btn btn-primary" onclick="addDateForm(this)">Add additional date</div> </div>
        <div class="hidden"> <input type="date" name="date5" ></div>
      </div>
      <!-- if weekly -->
      <div id="weekly" class="hidden">Weekly:
        <div>Starting: <input type="date" name="start_date" value=<%= Time.now %>></div>
        <div>Sunday<input type="checkbox" name="sunday" value="true"></div>
        <div>Monday<input type="checkbox" name="monday" value="true"></div>
        <div>Tuesday<input type="checkbox" name="tuesday" value="true"></div>
        <div>Wednesday<input type="checkbox" name="wednesday" value="true"></div>
        <div>Thursday<input type="checkbox" name="thursday" value="true"></div>
        <div>Friday<input type="checkbox" name="friday" value="true"></div>
        <div>Saturday<input type="checkbox" name="saturday" value="true"></div>
      </div>
      </fieldset>
    <% end %>
    <fieldset>
      <div>How much?</div>
      <input type="text" value="<%= @event.amount %>" name="amount" tabindex="2" required>
    </fieldset>
    <fieldset>
      <div>Provide a category if you want:</div>
      <select name="category" id="category" tabindex="6" required>
        <% @categories.each do |category| %>
        <option value="<%= category %>"><%= category %></option>
        <% end %>
      </select>
  </fieldset>    
  <fieldset>    
    <div>Tag this expense as:</div>
    <% if @tags%>
      <select name="tag" id="tag" tabindex="4" required>
        <option value="none">None</option>
        <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.description %></option>
        <% end %>
      </select>
    <% else %>
      No Tags   
    <% end %>
  </fieldset>
  <fieldset>
    <button name="submit" type="submit" id="contact-submit" value="<%= action %>">Submit</button>
  </fieldset>
  <!--     <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p>
  -->  
  <% end %>
</div>




