<h1><%= heading %></h1>
<%= form_tag url, method: form_method do %>
<!--   <div>Date: (Pleaase format Year, Month, Day)<input type="text" value="<%= @event.date %>" name="date" class="datepicker"></div>
 -->  <!-- see type "datetime-local" -->
  <div>Description:<input type="text" value="<%= @event.description %>" name="description"></div>
  <div>Is this money you will receive or money you owe?
   <select name="impact" id="impact"></div>
    <option value="out">Will Pay</option>
    <option value="in">Will Receive</option>
  </select>
  <div>How often will this repeat?
  <select name="repeat" id="repeat"></div>
    <option value="True">Yes</option>
    <option value="False">No</option>
  <div>How much?<input type="text" value="<%= @event.amount %>" name="amount"></div>
  <div>Provide a category if you want:
   <select name="category" id="category"></div>
   <% @categories.each do |category| %>
    <option value="<%= category %>"><%= category %></option>
    <% end %>
  </select>
  </div>
  <div>Tag this expense as:
   <% if @tags%>
      <select name="tag" id="tag"></div>
        <% @tags.each do |tag| %>
          <option value="<%= tag.id %>"><%= tag.description %></option>
        <% end %>
      </select>
    <% else %>
    No Tags   
    <% end %>
<a href="/tags/new">New Tag</a>
  </div>
  <div><input type="submit" value="<%= action %>"></div>
<% end %>
