<%= month_calendar events: @event_dates do |date, event_dates| %>
  <%= date %>

  <% event_dates.each do |event_date| %>
    <div>
      <%= event_date.event.description %>
      <%= event_date.event.category %>
      <%= event_date.event.amount %>
    </div>
  <% end %>
<% end %>