<!DOCTYPE html>
<html>
  <head>
    <title>PocketMoneyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "sign out", "/users/sign_out", method: :delete %>
      <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert"><%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div> 
    <% end %>
    <%= yield %>
  </body>
</html>
